@model HotelManagement.Models.RECEPTIONIST

@{
    ViewBag.Title = "IndexReceptionist";
}

<font style="font-family:'Times New Roman', Times, serif; color:antiquewhite; font-size:larger">
    <b>  <h2>Receptionist</h2></b>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
          

            <div class="form-group">
                @Html.LabelFor(model => model.Mail_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mail_ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mail_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button>  <input type="submit" value="Login" class="btn btn-default" /></button>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back", "Index")
    </div>
